<ng-masonry-grid [masonryOptions]="{ transitionDuration: '0.8s', gutter: 5 }" [useAnimation]="true" [useImagesLoaded]="true"
  [scrollAnimationOptions]="{ animationEffect: 'effect-2', minDuration : 0.4, maxDuration : 0.7 }" (onNgMasonryInit)="onNgMasonryInit($event)" (reorderItems)="reorderItems($event)" class="ng-masonry-wrapper">
  <!-- Masonry Grid Item -->
  <ng-masonry-grid-item id="1" class="ng-masonry-item">
    <img src="../../assets/images/nature1.jpg" width="300px">
  </ng-masonry-grid-item>
  <ng-masonry-grid-item id="2" class="ng-masonry-item">
    <img src="../../assets/images/nature2.jpg" width="300px">
  </ng-masonry-grid-item>
  <ng-masonry-grid-item id="3" class="ng-masonry-item">
    <img src="../../assets/images/nature3.jpg" width="300px">
  </ng-masonry-grid-item>
  <ng-masonry-grid-item id="4" class="ng-masonry-item">
    <img src="../../assets/images/nature4.jpg" width="300px">
  </ng-masonry-grid-item>
  <ng-masonry-grid-item id="5" class="ng-masonry-item">
    <img src="../../assets/images/nature5.jpg" width="300px">
  </ng-masonry-grid-item>
  <ng-masonry-grid-item id="6" class="ng-masonry-item">
    <img src="../../assets/images/nature6.jpg" width="300px">
  </ng-masonry-grid-item>
  <ng-masonry-grid-item id="7" class="ng-masonry-item">
    <img src="../../assets/images/nature7.jpg" width="300px">
  </ng-masonry-grid-item>
  <ng-masonry-grid-item id="8" class="ng-masonry-item">
    <img src="../../assets/images/nature8.jpg" width="300px">
  </ng-masonry-grid-item>
</ng-masonry-grid>

<div class="button-group">
  <button (click)="removeFirstItem()">Remove First Item</button>
  <button (click)="removeAllItems()">Remove All Items</button>
  <button (click)="reorderItems()">Reorder Items</button>
  <button id="reverseItems">Reverse Items</button>
</div>
